/* == RELATIVE == */
/* Relative to it's original position. */
/* Access: top, left, bottom, right */
#relative {
  background-color: #ffcc00;
  position: relative;
  /* top right left bottom */
  top: 10px;
  left: 50px;
}

/* == ABSOLUTE == */
/* Relative to the parent container that have a position that is not static. */
/* Otherwise, relative to the viewport. */
#absolute {
  background-color: tomato;
  position: absolute;
  /* top right left bottom */
  top: 0px;
  right: 0px;
}

#fixed {
  background-color: darkblue;
  color: white;
  position: fixed;
  bottom: 5px;
  left: 0px;
}

#sticky {
  background-color: purple;
  position: sticky;
  top: 100px;
  color: white;
}
